<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-inner-wrapper">
                <a href="./index.html" class="logo footer-logo link">
                    <svg class="logo-icon" width="32" height="32">
                        <use href="./img/sprite.svg#icon-logo"></use>
                    </svg>
                    CUCINA
                </a>
                <nav class="footer-nav">
                    <ul class="footer-nav-list list">
                        <li class="footer-nav-item">
                            <a class="footer-nav-link link" href="">Home</a>
                        </li>
                        <li class="footer-nav-item">
                            <a class="footer-nav-link link" href="">Store</a>
                        </li>
                        <li class="footer-nav-item">
                            <a class="footer-nav-link link" href="">Recipes</a>
                        </li>
                        <li class="footer-nav-item">
                            <a class="footer-nav-link link" href="">Gallery</a>
                        </li>
                    </ul>
                </nav>
                <address>
                    <ul class="address-list list">
                        <li class="address-item">
                            <a href="" class="address-link link">
                                <svg
                                    class="address-logo"
                                    width="24"
                                    height="24"
                                >
                                    <use
                                        href="./img/sprite.svg#icon-location"
                                    ></use>
                                </svg>
                                Elvia Elviaveien 1, 1234 Oslo
                            </a>
                        </li>
                        <li class="address-item">
                            <a
                                href="mailto:willie.jennings@example.com"
                                class="address-link link"
                            >
                                <svg
                                    class="address-logo"
                                    width="24"
                                    height="24"
                                >
                                    <use
                                        href="./img/sprite.svg#icon-envelope"
                                    ></use>
                                </svg>
                                willie.jennings@example.com
                            </a>
                        </li>
                    </ul>
                </address>
            </div>
            <ul class="footer-social-list list">
                <li class="footer-social-item">
                    <a
                        class="footer-social-link"
                        href="https://web.telegram.org/"
                    >
                        <svg class="footer-social-icon" width="16" height="16">
                            <use href="./img/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a
                        class="footer-social-link"
                        href="https://www.instagram.com/"
                    >
                        <svg class="footer-social-icon" width="16" height="16">
                            <use href="./img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a
                        class="footer-social-link"
                        href="https://www.youtube.com/"
                    >
                        <svg class="footer-social-icon" width="16" height="16">
                            <use href="./img/sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-social-link" href="https://twitter.com/">
                        <svg class="footer-social-icon" width="16" height="16">
                            <use href="./img/sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <p class="footer-text">
            By using this website, you agree to the
            <a class="footer-text-link" href="">Terms of Service</a> and
            <a class="footer-text-link" href="">Privacy Policy</a>
        </p>
    </div>
</footer>
