<header class="header">
    <a href="./index.html" class="logo">
        <svg>
            <use href=""></use>
        </svg>
        CUCINA
    </a>
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="" class="nav-link"></a></li>
            <li class="nav-item"><a href="" class="nav-link"></a></li>
            <li class="nav-item"><a href="" class="nav-link"></a></li>
            <li class="nav-item"><a href="" class="nav-link"></a></li>
        </ul>
    </nav>
    <button type="button" class="contacts-us">Contact us</button>
</header>
