<section class="products-section">
    <div class="container">
        <ul class="products-list list">
            <li class="products-item">
                <picture>
                    <source
                        srcset="
                            ./img/products/products-mob-img1.jpg    1x,
                            ./img/products/products-mob-img1@2x.jpg 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <source
                        srcset="
                            ./img/products/products-img1.jpg    1x,
                            ./img/products/products-img1@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <img
                        class="products-img"
                        src="./img/products/products-img1.jpg"
                        alt="Dish"
                    />
                </picture>
                <div class="products-wrapper">
                    <h3 class="products-subtitle">Classic sauce</h3>
                    <p class="products-description">
                        The most delicate taste of tomatoes, combined with
                        branded spices and white wine, will make your dish
                        incredibly tasty.
                    </p>
                    <button class="products-btn btn">Buy now</button>
                </div>
            </li>
            <li class="products-item">
                <picture>
                    <source
                        srcset="
                            ./img/products/products-mob-img2.jpg    1x,
                            ./img/products/products-mob-img2@2x.jpg 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <source
                        srcset="
                            ./img/products/products-img2.jpg    1x,
                            ./img/products/products-img2@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <img
                        class="products-img"
                        src="./img/products/products-img2.jpg"
                        alt="Dish"
                    />
                </picture>
                <div class="products-wrapper">
                    <h3 class="products-subtitle">Spicy sauce</h3>
                    <p class="products-description">
                        For thrill-seekers, we added hot chili pepper to our
                        sauce, it also reveals all the tastes and aromas of the
                        sauce well.
                    </p>
                    <button class="products-btn btn">Buy now</button>
                </div>
            </li>
            <li class="products-item">
                <picture>
                    <source
                        srcset="
                            ./img/products/products-mob-img3.jpg    1x,
                            ./img/products/products-mob-img3@2x.jpg 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <source
                        srcset="
                            ./img/products/products-img3.jpg    1x,
                            ./img/products/products-img3@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <img
                        class="products-img"
                        src="./img/products/products-img3.jpg"
                        alt="Dish"
                    />
                </picture>
                <div class="products-wrapper">
                    <h3 class="products-subtitle">Classic sauce</h3>
                    <p class="products-description">
                        The most delicate taste of tomatoes, combined with
                        branded spices and white wine, will make your dish
                        incredibly tasty.
                    </p>
                    <button class="products-btn btn">Buy now</button>
                </div>
            </li>
            <li class="products-item">
                <picture>
                    <source
                        srcset="
                            ./img/products/products-mob-img4.jpg    1x,
                            ./img/products/products-mob-img4@2x.jpg 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <source
                        srcset="
                            ./img/products/products-img4.jpg    1x,
                            ./img/products/products-img4@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <img
                        class="products-img"
                        src="./img/products/products-img4.jpg"
                        alt="Dish"
                    />
                </picture>
                <div class="products-wrapper">
                    <h3 class="products-subtitle">Spicy sauce</h3>
                    <p class="products-description">
                        For thrill-seekers, we added hot chili pepper to our
                        sauce, it also reveals all the tastes and aromas of the
                        sauce well.
                    </p>
                    <button class="products-btn btn">Buy now</button>
                </div>
            </li>
            <li class="products-item">
                <picture>
                    <source
                        srcset="
                            ./img/products/products-mob-img5.jpg    1x,
                            ./img/products/products-mob-img5@2x.jpg 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <source
                        srcset="
                            ./img/products/products-img5.jpg    1x,
                            ./img/products/products-img5@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <img
                        class="products-img"
                        src="./img/products/products-img5.jpg"
                        alt="Dish"
                    />
                </picture>
                <div class="products-wrapper">
                    <h3 class="products-subtitle">Classic sauce</h3>
                    <p class="products-description">
                        The most delicate taste of tomatoes, combined with
                        branded spices and white wine, will make your dish
                        incredibly tasty.
                    </p>
                    <button class="products-btn btn">Buy now</button>
                </div>
            </li>
            <li class="products-item">
                <picture>
                    <source
                        srcset="
                            ./img/products/products-mob-img6.jpg    1x,
                            ./img/products/products-mob-img6@2x.jpg 2x
                        "
                        media="(max-width: 767px)"
                    />
                    <source
                        srcset="
                            ./img/products/products-img6.jpg    1x,
                            ./img/products/products-img6@2x.jpg 2x
                        "
                        media="(min-width: 768px)"
                    />
                    <img
                        class="products-img"
                        src="./img/products/products-img6.jpg"
                        alt="Dish"
                    />
                </picture>
                <div class="products-wrapper">
                    <h3 class="products-subtitle">Spicy sauce</h3>
                    <p class="products-description">
                        For thrill-seekers, we added hot chili pepper to our
                        sauce, it also reveals all the tastes and aromas of the
                        sauce well.
                    </p>
                    <button class="products-btn btn">Buy now</button>
                </div>
            </li>
        </ul>
    </div>
</section>
