<section>
    <ul>
        <li>
            <picture>
                <source
                    srcset="
                        ./img/product/products-mob-img1.jpg    1x,
                        ./img/product/products-mob-img1@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                />
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <img
                    class="hero-bottle"
                    src="./img/product/products-img1.jpg"
                    alt="Блондинка в окулярах"
                />
            </picture>
            <h3>Classic sauce</h3>
            <button>Buy now</button>
        </li>
        <li>
            <picture>
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                />
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(min-width: 1200px)"
                />
                <img
                    class="hero-bottle"
                    src="./img/product/products-img1.jpg"
                    alt="Блондинка в окулярах"
                />
            </picture>
            <h3>Spicy sauce</h3>
            <button>Buy now</button>
        </li>
        <li>
            <picture>
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                />
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(min-width: 1200px)"
                />
                <img
                    class="hero-bottle"
                    src="./img/product/products-img1.jpg"
                    alt="Блондинка в окулярах"
                />
            </picture>
            <h3>Classic sauce</h3>
            <button>Buy now</button>
        </li>
        <li>
            <picture>
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                />
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(min-width: 1200px)"
                />
                <img
                    class="hero-bottle"
                    src="./img/product/products-img1.jpg"
                    alt="Блондинка в окулярах"
                />
            </picture>
            <h3>Spicy sauce</h3>
            <button>Buy now</button>
        </li>
        <li>
            <picture>
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                />
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(min-width: 1200px)"
                />
                <img
                    class="hero-bottle"
                    src="./img/product/products-img1.jpg"
                    alt="Блондинка в окулярах"
                />
            </picture>
            <h3>Classic sauce</h3>
            <button>Buy now</button>
        </li>
        <li>
            <picture>
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                />
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                />
                <source
                    srcset="
                        ./img/product/products-img1.jpg    1x,
                        ./img/product/products-img1@2x.jpg 2x
                    "
                    media="(min-width: 1200px)"
                />
                <img
                    class="hero-bottle"
                    src="./img/product/products-img1.jpg"
                    alt="Блондинка в окулярах"
                />
            </picture>
            <h3>Spicy sauce</h3>
            <button>Buy now</button>
        </li>
    </ul>
</section>
