<section class="recipes-section">
    <div class="recipes-container container">
        <div class="recipes-wrapper">
            <iframe
                class="recipes-video"
                width="455"
                height="809"
                src="https://www.youtube.com/embed/7Lz00tPIMOY"
                title="Cucina di Catherina Traditional Italian “Gravy” now being sold at Loretta Lynn’s Dude Ranch!"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
            ></iframe>
            <p class="recipes-description">Tomato paste</p>
        </div>
        <div class="recipes-wrapper">
            <iframe
                class="recipes-video"
                width="455"
                height="809"
                src="https://www.youtube.com/embed/7Lz00tPIMOY"
                title="Cucina di Catherina Traditional Italian “Gravy” now being sold at Loretta Lynn’s Dude Ranch!"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
            ></iframe>
            <p class="recipes-description">Bell pepper pasta</p>
        </div>
    </div>
</section>
