.header {
    padding: 12px 0;

    @media screen and (min-width: 1024px) {
        padding: 20px 0;
    }
}

.header-container{
display: flex;
align-items: center;
justify-content: space-between;
}

.container {}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.logo-icon {
    margin-right: 16px;
}

.nav {
    display: none;
    
    @media screen and (min-width: 1024px) {
        display: block;
    }
}

.nav-list {
    display: flex;
    gap: 52px;
}

.nav-item {}

.nav-link {}

.btn-contacts-us {
    
    @media screen and (max-width: 1024px) {
        display: none;
    }
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid;
    border-radius: 16px;
    padding: 10px 33px;
}

.btn-menu {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.burger-icon{
    --color1: var(--text-color);
    stroke: var(--color1);
}